.fullContainer{
  height: 100%;
  width: 100%;
  background-color: rgb(227,232,235);
  display: grid;
  justify-content: center;
  overflow-y: auto;
}

.title{
  text-align: center;
  color: rgb(98,163,53);
}

.midContainer{
  display: grid;
  grid-template-columns: 48% 48%;
  column-gap: 4%;
}

.chart{
  justify-self: center;
}

img{
  width: 180px;
  height: auto;
  justify-self: center;
}